.orderform {
  margin-top: 50vh;
}

.cardmiddle {
  margin-left: 30%;
  margin-right: 0;
}

.ant-card {
  position: relative;
  margin-top: 50%;
}

.headerordersystem {
  background-color: #eeebdd;
}

.middleb {
  height: 9vh;
  width: 20vh;
}

#veg {
  background-color: #3e7c17;
}

#chicken {
  background-color: #ff8243;
}

#beef {
  background-color: #c36a2d;
}

#fish {
  background-color: #d1e8e4;
}

#lunch,
#dinner {
  background-color: #c7bea2;
}

.menuDetailButton {
  height: 8vh;
  width: 25vh;
  margin-right: 2%;
  background-color: #add8e6;
}
